@media (max-width: 568px){
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }

  #cards-content {
    width: 90%;
    flex-direction: column;
    padding: 2rem 0;
  }

  #card1 {
    padding: 2rem;  
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  
  #card3 {
    padding: 2rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

@media (max-height: 450px) and (orientation: landscape) {
  .container {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #cards-content {
    width: 50%;
    flex-direction: column;
    padding: 2rem 0;
  }

  #card1 p, #card2 p, #card3 p {
    padding-right: .3rem;
  }

  #card1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0;
  }

  #card3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
